.card{
    width: 300px;
    height: 500px;
    margin: auto;
    margin-top: 1rem;
    overflow:hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s ;
    background-color: #2a201e;
    margin-bottom: 15px;
    
    
    
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 0px ;
}



.img_body img{

    overflow: hidden;
    height: 200px;
    width: 100%;


}

.card_body{
    margin: 1rem;
    margin-top:0.5rem;
    
    
}

h2, p {

    margin: 0;
    padding: 0;
    color: #bc8153;

}

.card_title{

    margin-top: 2px;
   text-align: center;
   text-transform: uppercase;

}

.card_text {
    padding: 8px;
    overflow: hidden;
    height:200px;

}

.detailsBtn{
    justify-content: center;
}

.btnInfo{
   display: flex;
   justify-content: center;
}