.card_container {
    width: 300px;
    margin: auto;
    margin-top: 1rem;
    overflow:hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s ;
    background-color: #2a201e;
}

.card_container:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 0px ;
}



.img_body img{

    overflow: hidden;
    height: 200px;
    width: 100%;


}

.card_body{
    margin: 1rem;
    margin-top:0.5rem;
    
    
}

h2, p {

    margin: 0;
    padding: 0;
    color: #bc8153;

}

.card_title{

    margin-top: 2px;
   text-align: center;
   text-transform: uppercase;

}

.card_text{
    padding: 8px;
}

.btn_card {
   
    display: flex;
    justify-content: center;
}

.btn_card button {
    width: 80px;
    height: 80x;
    padding: 5px;
    background-color:#2a201e ;
    
    cursor: pointer;
    border: none;
    
}

.btn_card button p {
    color:#e0792a ;
    font-size: 1.5rem;
}

.btn_card button p:hover{
    color: #fff;
}



.card{
    display: flex;
    justify-content: center;
}

span{
    font-size: 1.5rem;
    font-weight: bold;
}